.App {
	text-align: center;
    font-family: 'Segoe UI', Frutiger, 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	color: white;
	height: 100vh;
}

body {
	background: radial-gradient(circle, rgba(63,94,251,1) 20%, rgba(70,252,207,1) 66%);
    background: linear-gradient(150deg, rgba(123,142,23,1) 0%, rgba(121,9,58,0.7399553571428572) 50%, rgba(53, 218, 224, 1) 100%);
}

.App-logo {
	height: 5vmin;
	pointer-events: none;
}

.extern-app-logo {
	height: 4.5vmin;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		/* animation: App-logo-spin infinite 20s linear; */
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.flexstart {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
