.project-container {
    display: flex;
    justify-content: center;
    background: radial-gradient(circle, rgba(63,94,251,1) 20%, rgba(70,252,207,1) 66%);
    background: linear-gradient(150deg, rgba(123,142,23,1) 0%, rgba(121,9,58,0.7399553571428572) 50%, rgba(53, 218, 224, 1) 100%);
}

.project-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 0px 0px 15px 0px
}

.project-wrapper-reverse {
    flex-direction: row-reverse;
    text-align: right;
}

.project-description-wrapper {
    display: flex;
    flex-direction: column;
    margin: 15px;
    width: 40%;
}

.project-header {
    margin: 0px;
}

.project-page-header {
    margin-top: 0px;
    margin-bottom: 15px;
    font-weight: 200;
    font-size: 75px;
    text-align: center;
}

.project-list {
    margin-top: 0px;
    padding-inline-start: 0px;
}

a {
    color: white;
}

a:hover {
    color: rgb(100, 202, 202)
}