.navbar {
    display: flex;
    justify-content: space-between;
	background-color: #1f2224;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-width: 0px 1px 0px 1px;
}

.nav-item:last-child {
    border-right-width: 2px;
}

.nav-item:first-child {
    border-left-width: 0px;
}

.nav-link {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-family: 'Segoe UI', Frutiger, 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    color: white;
}

.nav-intern {
    display: flex;
}

.nav-extern {
    display: flex;
}

.nav-extern-item {
    border: none;
    margin-top: 2px;
}

.nav-extern-item > .nav-link {
    padding-left: 10px;
    padding-right: 10px;
}

